$header-bg-color: #284681;
$nav-bg-color: #284681;
$header-h2-color: #ffffff;
$header-a-color: #ffffff;
$sidenav-hr-bg-color: #fff;
$links-color: #000000;
$links-hover-color: #000000;
$lds-spinner-color: #284681;
$sidebar-bg-color: #f4f8fa;
/* $sidebar-bg-color: rgb(93, 143, 187); -- old color, might come back */

/* General CSS */

.admin-interface-container {
  margin-top: 70px;
}

.admin-interface-content {
  .form-input-header {
    font-weight: 400;
    font-size: 26px;
  }
  svg {
    color: $header-bg-color;
  } 

  input[type=file],
  input[type=file]::-webkit-file-upload-button { 
      cursor: pointer;
      
  }

  label.custom-file-label::after {
    background-color: $header-bg-color;
    color: #ffffff;
    content: "Valitse kuva" !important;
  }

  .article-button {
    width: 100%;
  }
  

}

#root .theme-button {
    background-color: $header-bg-color;
    color: $header-a-color;
}

.theme-button {
  border-radius: 0px !important;
  border: 0px !important;
}


/* Header CSS */
.header { 
    position: absolute;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    background-color: $header-bg-color;

    h2 {
      padding: 0 20px;
      color: $header-h2-color;
    }

    a {
      color: $header-a-color;
      right: 50px;
    }


}

.navbarColor {
    background-color: $nav-bg-color;

    svg {
      fill: $header-a-color;
      height: 24px;
      width: auto;
    }
}

/* /////////////////////////////////////////////////////////////////////////////////////////////// */


/* Sidebar CSS */
.sidebartextwrap {
  word-break: break-word;
}

.sidebar {
  background-color: $sidebar-bg-color;
  padding-bottom: 70px;
}

.sidenav {
    height: 100%;
    /* width: 190px;
    z-index: 1;
    bottom: 0;
    top: 55px;
    left: 0;
    background-color: rgb(93, 143, 187);
    overflow-x: hidden;*/

    @media screen and (min-width: 576px) {
        position: fixed !important;
        overflow-y: scroll;
    }

    .navbar {
        align-items: flex-start;
        background-color: $sidebar-bg-color;

        .navbar-nav {
          width: 100%;
        }
    }
    hr {
        width: 100%;
        background: $sidenav-hr-bg-color;
    }
    ul {
        padding-left: 0;
    }

    li {
        list-style: none;
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
        margin-top: 8px;
        margin-bottom: 2px;
        font-weight: bold;
    }

    button, .sidebar-button {
      border: 0px;
      background-color: $nav-bg-color;
      border-radius: 0px;
    }

    .sidebar-button {
      width: 100%;
      padding: 10px;
    }

    .sidebar-article-date {
      font-style: italic;
      margin-bottom: 0px;
      font-size: 14px;
    }
}

.smallLinks {
    text-decoration: none;
    color: $links-color;
    font-size: 15px;
  &:hover {
  color: $links-hover-color;
}

} 

.links, .articleLinks {
    text-decoration: none;
    color: $links-color;
  &:hover {
    color: $links-hover-color;
  }
}

.sidebarHeader {
    width: 100% !important;
    font-size: 20px;
    &.dropdown-toggle {
      cursor: pointer;
      &::after {
        transition: transform 0.3s ease;
      }
    }
    &[aria-expanded="true"] {
      &::after {
        transform: rotate(180deg);
      }
    }
}

.usage-bar {
    display: block;
    width: 100%;
    background: grey;
    height: 20px;
    border-radius: 5px;
    overflow: hidden;

    .filled {
        display: block;
        height: 100%;
    }
}

/* FRONTPAGE */
.frontPage {
    @media screen and (min-width: 992px) {
        .triplets {
            > div:first-of-type {
                padding-right: 5px;
            }
            > div:last-of-type {
                padding-left: 5px;
            }
            > div:not(:first-of-type):not(:last-of-type) {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
}

/* PRODUCTS */

.word-count-ok {
  color: #33cc33;
}

.word-count-yellow {
  color: #ff6600;
}

.word-count-red {
  color: #ff0000;
}

/* Contacts page */

.contact-icon-container {
  display: inline-block;
  background-color: $header-bg-color;
  font-size: 50px;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  text-align: center;
  position: relative;

  svg {
    color: #ffffff;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


/* LOADING SPINNER */

.lds-spinner {
    color: $lds-spinner-color;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    margin-top: 100px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: $lds-spinner-color;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

span.error-text {
    font-size: 14px;
    color: gray;
}

/* 404 - NOT FOUND PAGE */

.notfoundpage {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 500px;
}


/* IMAGE CROP TOOL */
canvas.cropped-image {
  width: 100% !important;
  height: auto !important;
}

/* SEASON CHANGE */
#rod-of-seasons {
  /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #435939;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    .winter-indicator {
      opacity: 0;
      position: absolute;
      top: 9px;
      left: 9px;
    }
    .summer-indicator {
      opacity: 1;
      position: absolute;
      top: 9px;
      right: 9px;
    }

    input:checked + span .winter-indicator {
      opacity: 1;
    }
    input:checked + span .summer-indicator {
      opacity: 0;
    }
}

.seasonorder-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:nth-child(odd) {
        color: #fff !important;

        .btn, .btn svg {
            color: #fff !important;
        }
    }
}
.summer .seasonorder-item {
    background-color: #6a8c5a;
    color: #eef6ec;
    .btn, .btn svg {
        color: #eef6ec;
    }

    &:nth-child(even) {
        background-color: #435939;
    }
}
.winter .seasonorder-item {
    background-color: #3862b5;
    color: #f4f8fa;
    .btn, .btn svg {
        color: #f4f8fa;
    }

    &:nth-child(even) {
        background-color: #284681;
    }
}

/* ImageSettings styling */
#image-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .img-box {
        flex: 1 1 30%;
        position: relative;
        height: 200px;
        width: 200px;
        padding: 20px;
        margin-top: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        button {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            top: 0;
            right: 0;
            transition: visibility 0.3s ease, opacity 0.3s ease;
            background-color: $header-bg-color;
        }
        button:hover {
            background-color: #0275d8;
        }
        span {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            background-color: #fff;
            bottom: 0;
            left: 0;
            transition: visibility 0.3s ease, opacity 0.3s ease;
        }
        &:hover {
            button, span {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

#pageLinks {
    background-color: $header-bg-color;
    color: #fff;
    border: none;
  &:hover {
    background-color: #0275d8;
  }
}