$primary-font: 'Segoe UI';

/* BREAKPOINTS */
$max-xs: 575.98px;
$max-sm: 767.98px;
$max-md: 991.98px;
$max-lg: 1199.98px;

$min-sm: 576px;
$min-md: 768px;
$min-lg: 992px;
$min-xl: 1200px;



/* Color variables. Prefer these over directly manipulating colors */
/* WINTER */
$primary-dark-text-color: #212529;
$primary-light-text-color: #ffffff;
$primary-color: #284681;
$primary-color-lightened: #3862b5;
$background-color: #ffffff;
$secondary-background-color: #f4f8fa;

/* SUMMER */
$primary-dark-text-color-summer: #212529;
$primary-light-text-color-summer: #ffffff;
$primary-color-summer: #435939;
$primary-color-lightened-summer: #6a8c5a;
$background-color-summer: #ffffff;
$secondary-background-color-summer: #eef6ec;


$default-margin: 100px;
$medium-margin: 50px;
$small-margin: 30px;

/* GENERAL */

body {
    width: 100%;
    font-family: $primary-font !important;
    overflow-y: auto;
}

section {
    margin: 0px;

    .container {
        padding-top: 40px;
        padding-bottom: 40px;

        @media screen and (max-width: $max-sm) {
            padding-top: $small-margin;
            padding-bottom: $small-margin;
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}

/* BUTTONS & FORMS */

input, textarea {
    border-radius: 0px !important;
}

.theme-button {
    border-radius: 0px !important;
    border: 0px !important;
    background-color: $primary-color !important;
}

.theme-button:hover {
    background-color: $primary-color-lightened !important;
}

.theme-pagination {
    a {
        border-radius: 0px;
    }
}

/* NAVBAR */

.navbar {
    background-color: $background-color;
    color: $primary-color;
    //border-bottom: 1px solid;
    padding: 0 !important;

    ul {
        list-style: none;
        flex-direction: row;

        li {
            position: relative;
            background-color: $background-color;
            color: $primary-color !important;

            &.has-submenu {
                padding-right: 8px;

                &::after {
                    position: absolute;
                    display: inline-block;
                    top: 50%;
                    right: 0;
                    content: "";
                    border-top: .3em solid;
                    border-right: .3em solid transparent;
                    border-bottom: 0;
                    border-left: .3em solid transparent;
                    transition: transform 0.3s ease;

                    @media screen and (max-width: $max-md) {
                        top: 10px;
                    }
                }
                
                @media screen and (min-width: $min-lg) {
                    display: flex;
                    justify-content: center;

                    &:hover {
                        > .submenu {
                                margin-top: 45px !important;
                            }
                        &::after {
                            transform: rotate(180deg);
                        }
                    }
                }

                /* mobile method of opening the submenu */
                &.open {
                    &::after {
                        transform: rotate(180deg);
                    }

                    .submenu {
                        max-height: 1000px;
                    }
                }
            }
        }

        &.topmenu {
            padding-left: 7px;
            padding-right: 7px;

            @media screen and (min-width: $min-lg) {
                margin-top: -0.5rem;
                margin-bottom: 0;
            }

            > li {

                @media screen and (min-width: $min-lg) {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                }
            }
        }

        &.submenu {
            background-color: $background-color;
            padding-left: 30px;

            @media screen and (max-width: $max-md) {
                max-height: 0;
                overflow-y: hidden;
                transition: max-height 0.2s ease;
            }
            @media screen and (min-width: $min-lg) {
                position: absolute;
                margin-top: -100vh;
                padding: 0 5px 10px;
                z-index: -9;
                transition: margin-top 0.3s ease;
                /*border: 1px solid;
                border-top: none;*/
            }

            
        }
    }

    a {
        color: $primary-color !important;
        font-size: 20px;
        font-weight: 600;
        line-height: initial;
    }

    button {
        background-color: $background-color !important;
        color: $primary-color !important;
    }

    button:hover {
        background-color: $primary-color !important;
        color: $background-color !important;
    }

    .navbar-brand {
        padding: 0px;
    
        svg {
            fill: $primary-color;
            height: 50px; 
            padding: 7px;
            width: auto;
        }
    }
    
    #basic-navbar-nav {
        .nav-link {
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
    
            a:focus, a:hover {
                text-decoration: none;
            }
        }
    }

    .dropdown {
        button.dropdown-toggle {
            background: none;
            border: none;
            font-size: 20px;
            line-height: 0.9;
            height: 25px;
            margin-left: 2px;
        
            &::after {
                color: $primary-color;
            }
            &:hover {
                background-color: $primary-color;
                &::after {
                    color: $background-color;
                }
            }
        }
        &.show {
            button.dropdown-toggle {
                &::after {
                    color: $background-color;
                }
            }
        }
    }
    
    @media screen and (min-width: $min-lg) {
        .dropdown {
            display: flex !important;
            align-items: center;
        }


    }
    
    @media screen and (max-width: $max-md) {
        
    }
    
    .sr-only-focusable:active, .sr-only-focusable:focus {
        color: $background-color !important;
    }
}

/* HERO JUMBOTRON */

#hero-header {
    padding: 0;
    position: relative;
}

.hero-header {
    background-position: 50% 0px; /* Parallax will change this dynamically */
    background-size: cover;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;

    .hero-text {
        display: inline-block;
        position: relative;
        font-size: 70px;
        font-weight: 900;
        color: $primary-light-text-color;
        text-shadow: 0px 0px 10px #000000;
    }

    @media (max-width: $max-lg) {
        .hero-text {
            font-size: 40px;
        }
    }
    @media (max-width: $max-md) {
        .hero-text {
            font-size: 30px;
        }
    }

    .container {
        margin-bottom: 0px;
    }

    .gradient {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 0;
        width: 100%;
        height: 100%;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(6,23,57,0.3981967787114846) 0%, rgba(40,70,129,0) 30%);
    }
}


/* FRONT PAGE DIVIDER IMAGES */

.hero1, .hero2 {
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0px !important;
    background-size: cover;

    @media screen and (max-width: $max-lg) {
        height: 500px;
    }
    @media screen and (max-width: $max-md) {
        height: 400px;
    }
    @media screen and (max-width: $max-sm) {
        height: 300px;
    }
    @media screen and (max-width: $max-xs) {
        height: 250px;
    }
}

.hero-image {
    margin-bottom: 0px;
}

.campaign {
    background-color: $secondary-background-color;
    padding-top: $default-margin;
    padding-bottom: $default-margin;

    .container {
        background-color: $background-color;
        padding: $medium-margin;
    }

    h1 {
        font-size: 4rem;
        margin-bottom: $small-margin;
    }

    .campaign-upper-h2, .campaign-lower-h2 {
        font-size: 2rem;
    }

    .campaign-upper-h2 {
        font-size: 2rem;
    }

    .campaign-lower-h2 {
        font-size: 1.5rem;
        font-style: italic;
        margin-bottom: $small-margin;
    }

    .campaign-price {
        color: #288228;
    }

    .campaign-sticker {
        color: $primary-dark-text-color;
        font-size: 1.3rem;
        font-weight: 600;
        position: absolute;
        bottom: 15px;
        left: 30px;
        background-color: $background-color;
        padding: 15px;
    }    
    
    @media (max-width: $max-md) {
        padding-top: $medium-margin;
        padding-bottom: $medium-margin;

        .container {
            padding: $medium-margin;
        }

        h1 {
            margin-top: $small-margin;
        }
    }

    @media screen and (max-width: $max-sm) {
        padding-top: $small-margin;
        padding-bottom: $small-margin;

        .container {
            padding: $small-margin;
        }
    }

    @media (max-width: $max-xs) {
        h1 {
            font-size: 3rem;
        }

        .campaign-upper-h2, .campaign-lower-h2 {
            font-size: 1.5rem;
        }

        &.frontpage-campaign {
            /* Make the campaign product image full width on small display sizes */
            img {
                margin-left: -$small-margin;
                margin-right: -$small-margin;
                max-width: calc(100% + (#{$small-margin} * 2));
            }
        }
    }
    
}

/* HILIGHTS SECTION */

.hilights {
    .container {
        padding-top: $default-margin;
        padding-bottom: $default-margin;

        @media screen and (max-width: $max-sm) {
            padding-top: $small-margin;
            padding-bottom: $small-margin;
        }
    }

    .icon-container {
        display: inline-block;
        background-color: $primary-color;
        color: $primary-light-text-color;
        font-size: 50px;
        height: 100px;
        width: 100px;
        border-radius: 50px;
        text-align: center;
        position: relative;
    }
    
    .icon-container svg {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
}

/* COMPANY INFO */

.company-info {
    margin-top: $default-margin;
    margin-bottom: $default-margin;

    @media screen and (max-width: $max-sm) {
        margin-top: $small-margin;
        margin-bottom: $small-margin;
    }
}

/* FOOTER */

.footer {
    background-color: $primary-color;
    color: $primary-light-text-color;

    .container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    a, a:link, a:hover {
        text-decoration: none;
        color: $primary-light-text-color;
    }
    
    .footer-button {
        border-radius: 0px;
        border: 0px;
        background-color: $background-color;
        color: $primary-color;
    }

    .footer-button:hover {
        border-radius: 0px;
        border: 0px;
        background-color: $background-color;
        color: $primary-color;
    }

    h3 {
        margin-top: $small-margin;
        margin-bottom: $small-margin;
    }
    .footer-text {
        color: $primary-light-text-color;
    }
    
    .info-container {
        height: 120px;
    }
    
    .info-icon-container {
        width: 60px;
    
        svg {
            padding: 0px !important;
        }
    }
    
    .info-text-container {
        text-align: left;
    }

    .footer-logo-container {
        .footer-logo {
            max-height: 150px;
            margin-bottom: $small-margin;
        }

        svg {
            fill: $background-color;
        }
    }
}

/* NEWS */

.news {
    background-color: $background-color;
}

.news-article {
    margin-top: $medium-margin;
    margin-bottom: $medium-margin;
    background-color: $secondary-background-color;
    word-break: break-word;

    .article-image {
        width: 100%;
    }

    img {
        margin-bottom: $small-margin;
    }

    h1, .article-title {
        font-size: 60px;
        word-break: break-word;

        @media screen and (max-width: $max-md) {
            font-size: 45px;
        }
        @media screen and (max-width: $max-sm) {
            font-size: 40px;
        }
    }

    h5 {
        font-style: italic;
        margin-bottom: $small-margin;
    }

    button {
        margin-top: $small-margin;
    }
}

.pagination {

    padding-top: 0px !important;

    a {
        background-color: $primary-color;
        border: 0px;
        border-color: $secondary-background-color;
        color: $primary-light-text-color !important;

        &.currentPage {
            background-color: $primary-color-lightened !important;
        }
    }

    a:hover {
        text-decoration: none;
    }

    @media screen and (max-width: $max-xs) {
        padding-right: 0 !important;

        .theme-pagination {
            width: 100%;

            .theme-button {
                padding: .5rem 0;
            }
        }
    }

}

/* PRODUCTS */

.product-category {
    padding-top: 65px;

    .category-name {
        font-size: 3rem;
        word-break: break-word;

        @media screen and (max-width: $max-md) {
            font-size: 45px;
        }
        @media screen and (max-width: $max-sm) {
            font-size: 40px;
        }
        @media screen and (max-width: $max-xs) {
            font-size: 35px;
        }
    }

    p {
        margin-top: $small-margin;
        margin-bottom: $small-margin;
    }

    .product-card {
        background-color: $background-color;
        position: relative;

        a, a:hover, a:active {
            color: $primary-dark-text-color;
            text-decoration: none;

            &.theme-button {
                color: $primary-light-text-color;
            }
        }

        /* The purpose of .padding-hack class is to allow white space between bootstrap cols */
        .padding-hack {
            background-color: $secondary-background-color;
            height: 100%;
            padding-bottom: 60px !important;

            .img-parent {
                position: relative;
                width: 100%;
                margin: 0 auto;
                padding-top: 66.66%;

                > img {
                    position: absolute;
                    //height: 100%;
                    left: 0;
                    top: 0;
                }
            }
        }

        button {
            position: absolute;
            bottom: 35px;
        }

        input, textarea, button {
            border-radius: 0px;
        }

        h2 {
            margin-top: $small-margin;
            word-break: break-word;

            @media screen and (max-width: $max-md) {
                font-size: 30px;
            }
            @media screen and (max-width: $max-sm) {
                font-size: 25px;
            }
        }
    }
}

/*.ReactModal__Body--open {
    overflow-y: scroll;
    position: fixed;
    // position: static;
}*/

.ReactModalPortal {
    div {
        /* width */
            ::-webkit-scrollbar {
            width: 15px;
        }

        ::-webkit-scrollbar-track {
            background: $secondary-background-color; 
        }
        
        ::-webkit-scrollbar-thumb {
            background: $primary-color; 
        }
        
        ::-webkit-scrollbar-thumb:hover {
            background: $primary-color; 
        }
    }
}

.ReactModal__Content {
    top: 50% !important;
    left: 50% !important;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 80vh; //Sets the height, modal scroll does not work without this
    width: 100vw;
    overflow: scroll !important; //Enable modal to scroll
    overflow-x: hidden !important;
    max-width: 1140px; // Modal width
}

.product-modal {
    .form-header {
        font-size: 2.5rem;
        margin-top: $small-margin;
        margin-bottom: $small-margin;
    }

    .send-button {
        margin-right: $small-margin;
    }

    textarea {
        resize: none;
    }

    input, textarea, button {
        border-radius: 0px;
    }

    ul {
        padding-left: 0px;
        list-style-type: none;
    }

    .price {
        display: inline;
    }
    .tax {
        margin-left: 10px;
    }
}

.modalDiv:hover {
    cursor: pointer;
}

.ReactModal__Overlay {
    z-index: 9001;
}

.campaign {
    .price {
        text-decoration: line-through;
    }
}

/* SERVICES */

.services {
    background-color: $background-color;

    .service-item {
        margin-top: $medium-margin;
        margin-bottom: $medium-margin;
        background-color: $secondary-background-color;
    
        img {
            margin-bottom: $small-margin;
        }
    
        .service-name {
            font-size: 60px;
            word-break: break-word;

            @media screen and (max-width: $max-md) {
                font-size: 45px;
            }
            @media screen and (max-width: $max-sm) {
                font-size: 40px;
            }
        }
    
        h3 {
            margin-top: $small-margin;
        }
    
        h5 {
            font-style: italic;
            margin-bottom: $small-margin;
        }
    
        button {
            margin-top: $small-margin;
        }
    
        textarea {
            resize: none;
        }
    }
    
}


/* CONTACT */

.contact {
    .info-icon-container {
        display: inline-block;
        background-color: $primary-color;
        color: $primary-light-text-color;
        font-size: 50px;
        height: 100px;
        width: 100px;
        border-radius: 50px;
        text-align: center;
        position: relative;

        svg {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
    }

    .info-text-container {
        color: $primary-dark-text-color;
    }

    h2 {
        font-size: 3rem; 
        margin-bottom: $small-margin;
    }

    h3 {
        font-size: 2rem;
        margin-bottom: $small-margin;
    }

    .contact-info-container {
        margin-bottom: $small-margin;
    }
    .contact-text-container {
        margin-left: $small-margin;
        font-size: 20px;
        font-weight: 700;
    }

    .contact-info {
        margin-top: $medium-margin;
    }

    .contact-form, .contact-info, .contact-map {
        margin-bottom: $default-margin;

        @media screen and (max-width: $max-sm) {
            margin-bottom: $medium-margin;
        }
    }

    .contact-form {
        background-color: $secondary-background-color;
        font-size: 20px;
        font-weight: 500;
    }

    textarea {
        resize: none;
        height: 300px !important;
    }
}

/* LOADING SPINNER */

.lds-spinner {
    color: $primary-color;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    &.centered {
        display: block;
        margin: 100px auto;
    }

    div {
        transform-origin: 40px 40px;
        animation: lds-spinner 1.2s linear infinite;
        
        &:after {
            content: " ";
            display: block;
            position: absolute;
            top: 3px;
            left: 37px;
            width: 6px;
            height: 18px;
            border-radius: 20%;
            background: $primary-color;
        }

        &:nth-child(1) {
            transform: rotate(0deg);
            animation-delay: -1.1s;
        }
        &:nth-child(2) {
            transform: rotate(30deg);
            animation-delay: -1s;
        }
        &:nth-child(3) {
            transform: rotate(60deg);
            animation-delay: -0.9s;
        }
        &:nth-child(4) {
            transform: rotate(90deg);
            animation-delay: -0.8s;
        }
        &:nth-child(5) {
            transform: rotate(120deg);
            animation-delay: -0.7s;
        }
        &:nth-child(6) {
            transform: rotate(150deg);
            animation-delay: -0.6s;
        }
        &:nth-child(7) {
            transform: rotate(180deg);
            animation-delay: -0.5s;
        }
        &:nth-child(8) {
            transform: rotate(210deg);
            animation-delay: -0.4s;
        }
        &:nth-child(9) {
            transform: rotate(240deg);
            animation-delay: -0.3s;
        }
        &:nth-child(10) {
            transform: rotate(270deg);
            animation-delay: -0.2s;
        }
        &:nth-child(11) {
            transform: rotate(300deg);
            animation-delay: -0.1s;
        }
        &:nth-child(12) {
            transform: rotate(330deg);
            animation-delay: 0s;
        }
    }
  }

  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  /* 404 - NOT FOUND PAGE */

.notfoundpage {
    text-align: center;
    margin-top: 300px;
    margin-bottom: 500px;
}


.swal2-container {
    z-index: 9999;
}
.grecaptcha-badge {
    visibility: hidden;
}
.recaptcha-disclaimer {
    font-size: 12px;
    color: rgb(73, 80, 87);
    padding-left: 0;
}
.footer .recaptcha-disclaimer {
    color: lightgray;
    @media screen and (max-width: $max-xs) {
        padding-left: 15px;
    }
}
#mobile-checker {
    display: none;
    @media screen and (max-width: $max-md) {
        display: block;
    }
}
/***************************************************************************/
/****************************** SUMMER THEME ****************************** /
/***************************************************************************/

body.summer {
    
    /* BUTTONS & FORMS */

    .theme-button {
        background-color: $primary-color-summer !important;
    }
    .theme-button:hover {
        background-color: $primary-color-lightened-summer !important;
    }

    /* NAVBAR */

    .navbar {
        background-color: $background-color-summer;
        color: $primary-color-summer;
    
        li, a {
            color: $primary-color-summer !important;
        }
    
        button {
            background-color: $background-color-summer !important;
            color: $primary-color-summer !important;
        }
    
        button:hover {
            background-color: $primary-color-summer !important;
            color: $background-color-summer !important;
        }
    
        .navbar-brand {
            svg {
                fill: $primary-color-summer;
            }
        }

        .dropdown {
            button.dropdown-toggle {           
                &::after {
                    color: $primary-color-summer;
                }
                &:hover {
                    background-color: $primary-color-summer;
                    &::after {
                        color: $background-color-summer;
                    }
                }
            }
            &.show {
                button.dropdown-toggle {
                    &::after {
                        color: $background-color-summer;
                    }
                }
            }
        }
    }

    /* HERO-HEADER */

    .hero-header {
        .hero-text {
            color: $primary-light-text-color-summer;
        }

        .gradient {
            background: rgb(0,0,0);
            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(42,59,35,1) 0%, rgba(67,89,57,0) 30%);
        }
    }

    /* HILIGHTS SECTION */

    .hilights {
        .icon-container {
            background-color: $primary-color-summer;
            color: $primary-light-text-color-summer;
        }
    }

    /* FOOTER */

    .footer {
        background-color: $primary-color-summer;
        color: $primary-light-text-color-summer;
    
        a, a:link, a:hover {
            color: $primary-light-text-color-summer;
        }
        
        .footer-button {
            background-color: $background-color-summer;
            color: $primary-color-summer;
        }
    
        .footer-button:hover {
            background-color: $background-color-summer;
            color: $primary-color-summer;
        }
    
        .footer-text {
            color: $primary-light-text-color-summer;
        }
    }

    .news {
        background-color: $background-color;
    }
    
    /* NEWS */
    
    .news-article {
        background-color: $secondary-background-color-summer;
    }
    
    .pagination {
        a {
            background-color: $primary-color-summer;
            border-color: $secondary-background-color-summer;
            color: $primary-light-text-color-summer !important;

            &.currentPage {
                background-color: $primary-color-lightened-summer !important;
            }
        }
    }

    /* PRODUCTS */

    .product-category {
        .product-card {
            background-color: $background-color-summer;
    
            /* The purpose of .padding-hack class is to allow white space between bootstrap cols */
            .padding-hack {
                background-color: $secondary-background-color-summer;
            }
        }
    }
    
    .ReactModalPortal {
        div {
            ::-webkit-scrollbar-track {
                background: $secondary-background-color-summer; 
            }
            
            ::-webkit-scrollbar-thumb {
                background: $primary-color-summer; 
            }
            
            ::-webkit-scrollbar-thumb:hover {
                background: $primary-color-summer; 
            }
        }
    }

    .product-modal {
        .recaptcha-disclaimer {
            margin-top: 16px;
            margin-bottom: 0px !important;

            a {
                color: $primary-color-summer;
            }

            a:hover {
                color: $primary-color-summer;
            }
        }
    }

    /* SERVICES */

    .services {
        background-color: $background-color-summer;
    
        .service-item {
            background-color: $secondary-background-color-summer;

            .recaptcha-disclaimer {
                margin-top: 16px;
                margin-bottom: 0px !important;
                
                a {
                    color: $primary-color-summer;
                }
    
                a:hover {
                    color: $primary-color-summer;
                }
            }
        }
        
    }
    
    
    /* CONTACT */
    
    .contact {
        .info-icon-container {
            background-color: $primary-color-summer;
            color: $primary-light-text-color-summer;
        }

        .info-text-container {
            color: $primary-dark-text-color-summer;
        }
        .contact-form {
            background-color: $secondary-background-color-summer;
        }

        .recaptcha-disclaimer {
            margin-top: 16px;
            margin-bottom: 0px !important;
            
            a {
                color: $primary-color-summer;
            }

            a:hover {
                color: $primary-color-summer;
            }
        }
    }
    
    /* LOADING SPINNER */
    
    .lds-spinner {
        color: $primary-color-summer;
      }

      .lds-spinner div:after {
        content: " ";
        background: $primary-color;
      }
}

/* FOR CLARITY, DON'T ADD ANYTHING AFTER THIS COMMENT */
